body {
    font-family: Arial, sans-serif;
    background-color: #ffeb3b; /* Warna cerah awal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Sembunyikan scroll */
    transition: background 0.5s;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.05);
}

.futuristic-button {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.5em;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.futuristic-button:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.father-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.foto {
    width: 300%;
    height: auto;
    border-radius:10px ;
    margin-top: 20px;

}